In [142]:
# ingest the data
import pandas as pd

file_path = "F:\\I-Neuron\\22-OCT-END-TO-END-PROJECT\\notebooks\\data\\gemstone.csv"
df=pd.read_csv(file_path)

In [143]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [144]:
data=df.drop(columns='id')

In [145]:
data["cut"].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [146]:

"""cut = {"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}
data["cut"]=data["cut"].replace(cut)
data.head()"""

'cut = {"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}\ndata["cut"]=data["cut"].replace(cut)\ndata.head()'

In [147]:
data["cut"].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [148]:
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [149]:
data.duplicated().sum()

0

In [150]:
data.shape

(193573, 10)

In [151]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [152]:
data.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [188]:
#cat vs num
cat_column=data.columns[data.dtypes=="object"]
num_column=data.columns[data.dtypes!="object"]
print (cat_column)
print (num_column)

Index(['cut', 'color', 'clarity'], dtype='object')
Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [189]:
numercal_data = data.drop(columns=['cut', 'color', 'clarity'],axis=1)
categorical_data=data.drop(columns=['carat', 'depth', 'table', 'x', 'y', 'z', 'price'],axis=1)

In [198]:
numercal_data=data[num_column]
categorical_data_data=data[cat_column]

In [199]:
numercal_data.head()

   carat  depth  table     x     y     z  price
0   1.52   62.2   58.0  7.27  7.33  4.55  13619
1   2.03   62.0   58.0  8.06  8.12  5.05  13387
2   0.70   61.2   57.0  5.69  5.73  3.50   2772
3   0.32   61.6   56.0  4.38  4.41  2.71    666
4   1.70   62.6   59.0  7.65  7.61  4.77  14453

In [200]:
categorical_data.head()

         cut color clarity
0    Premium     F     VS2
1  Very Good     J     SI2
2      Ideal     G     VS1
3      Ideal     G     VS1
4    Premium     G     VS2

In [206]:
numercal_data.describe().T

,count,mean,std,min,25%,50%,75%,max
carat,193573.0,0.790688,0.462688,0.2,0.40,0.70,1.03,3.50
depth,193573.0,61.820574,1.081704,52.1,61.30,61.90,62.40,71.60
table,193573.0,57.227675,1.918844,49.0,56.00,57.00,58.00,79.00
x,193573.0,5.715312,1.109422,0.0,4.70,5.70,6.51,9.65
y,193573.0,5.720094,1.102333,0.0,4.71,5.72,6.51,10.01
z,193573.0,3.534246,0.688922,0.0,2.90,3.53,4.03,31.30
price,193573.0,3969.155414,4034.374138,326.0,951.00,2401.00,5408.00,18818.00

In [204]:
categorical_data.describe()

           cut   color clarity
count   193573  193573  193573
unique       5       7       8
top      Ideal       G     SI1
freq     92454   44391   53272

In [207]:
categorical_data["cut"].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [208]:
categorical_data["color"].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [209]:
categorical_data["clarity"].value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64